/**** All sizes are in px for now, after seting up all elements will convert it to something more responsive  ****/

/**** Colors
light-blue: rgb(47,118,239);
dark-blue: rgb(15,79,189);
grey: #ddd, #eee;
****/

/****  Reset default  ****/
body, h1, h2, h3, ul, li, p, article, img {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a, q, article {
    display: inline-block;
    text-decoration: none;
}


/****  Global & Fonts faces ****/
html { 
    background: url(../static/img/bacground1080p.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 100%;
    font-family: 'droid_sans_monoregular', sans-serif;
}

body {
    position: relative;
    width: 1080px;
    min-height: 100%;
    margin: 0 auto;
}

h1, h2, h3, .nav {
    font-family: 'cinzel_decorativeregular', serif;
}
/****  Index file  ****/
/****  Top-bar  ****/
#top-bar {
    position: relative;
    height: 111px;
    margin-bottom: 15px;
}

/****  Logo  ****/
.logo {
    background: url(../static/img/logo-slide.png);
    display: inline-block;
    height: 101px;
    width: 553px;
    float: left;
    margin: 2px 20px 5px 5px;
}

.logo:hover,
.logo:focus {
    background-position: 0 -101px;
}

/**** Quote  ****/
q {
    position: relative;
    float: right;
    width: 375px;
    height: 65px;
    font-style: italic;
    text-align: left;
}

q strong {
    position: absolute;
    right: 5px;
    bottom: 0;   
}

/****  Left-bar  ****/
#left-bar {
    position: relative;
    display: inline-block;
    float: left;
    width: auto;
    max-width: 180px;
    min-height: 101px;
    background-color: rgba(47,118,239,0.2);
}
.float {
    position: fixed;
}

/****  Navigation  ****/
.nav {
    width: auto;
    height: 100%;
    padding-right: 25px;
    display: inline-block;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: -2px;
    text-align: left;
    z-index: 10;
}

.nav-off {
    display: none;
}

.nav-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
    display: inline-block;
    width: 25px;
    height: 100px;
    background: url(../static/img/menu-slide.png);
    background-position: -25px 0;
    border: 0;
}

.nav-toggle-swith {
    background-position: 0 0;
}

.nav ul li a {
    color: rgb(47,118,239);
    padding: 5px 8px;
}

.nav ul li a:hover {
    color: rgb(15,79,189);
    background-color: #ddd;
    border-radius: 6px;
}

/****  Float clear  ****/
.no-float {
    clear: both;
}

/**** Content  ****/
.content {
    float: right;
    position: relative;
    display: inline-block;
    width: 900px;
    min-height: 150px;
}
.content-wide {
    width: 1050px;
}

/**** Footer  ****/
footer {
    width: 100%;
    background-color: rgba(15,79,189,0.9);
    text-align: center;
    border-radius: 18px;
    
}

footer a:hover,
#footer-nav li a:hover {
    color: #eee;
    text-decoration: underline;
}

footer,
footer p a,
#footer-nav a{
    color: #ddd;
    font-weight: 600;
    margin: 2px;
}

#footer-nav li{
    display: inline-block;
}

/**** About page  ****/
.left-col,
.right-col {
    width: 46.5%;
    text-align: justify;
    margin: 5px 0 15px 5px;
}
.left-col {
    margin-right: 20px;
}
.foto {
    width: 99%;
    height: auto;
    margin-bottom: 3px;
    border: 2px solid rgb(15,79,189);
}