/**** Colors
light-blue: rgb(47,118,239);
dark-blue: rgb(15,79,189);
grey: #ddd, #eee;
****/

/****  Reset default  ****/
* {
    box-sizing: border-box;
}

body, h1, h2, h3, ul, li, p, article, img {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a, q, article, section {
    display: inline-block;
    text-decoration: none;
}

/**** Base > 1080px+ ****/

/****  Global & Fonts faces ****/
html { 
    background: url(../static/img/bacground1080p-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 110%; /* 17,6 px = 1em */
    font-family: 'latolight', sans-serif;
    color: black;
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 5.11364em;
}

#top-bar,
#content {
    position: relative;
    width: 61.36364em; /* ~1080px */
}

#content {
    margin: 0 auto 2.84091em auto;
    background-color: rgba(249,249,249,0.77);
    border-radius: 0.28409em;
    box-shadow: 0 0.56819em 1.70455em 0.85228em #ccc;
}
#content,
.foto,
.card {
    border: 0.11364em solid rgb(15,79,189);
}

h1, h2, h3, .nav {
    font-family: 'droid_serifbold', serif;
}

a{
    color: rgb(15,79,189);
}
a:visited {
    color: black; 
}

/****  Index file  ****/
/****  Top-bar  ****/
#top-bar {
    height: 9em;
    margin: 0 auto 1.13634em;
}

/****  Logo  ****/
.logo {
    background: url(../static/img/logo-slide2.png);
    display: inline-block;
    height: 8.86363em;
    width: 22.72727em;
    float: left;
    margin: 0.11364em 1.13634em 0.28409em 0.28409em;
}

.logo:hover,
.logo:focus {
    background-position: 0 -8.92045em;
}

/**** Quote  ****/
q {
    position: relative;
    float: right;
    width: 17.04545em;
    height: 3.69312em;
    color: #ddd;
    font-style: italic;
    text-align: left;
}

q strong {
    position: absolute;
    right: 0.28409em;
    bottom: 0;   
}

/****  Left-bar  ****/
#left-bar {
    position: relative;
    display: inline-block;
    float: left;
    left: 0.05682em;
    top: 0.05682em;
    width: auto;
    max-width: 10.22728em;
    min-height: 5.73864em;
    background-color: rgba(47,118,239,0.2);
}
.float {
    position: fixed;
    height: 100%;
}

/****  Navigation  ****/
.nav {
    width: auto;
    height: 100%;
    padding-right: 1.42046em;
    display: inline-block;
    font-size: 1.5em;
    letter-spacing: -0.11364em;
    text-align: left;
}

.nav-off {
    display: none;
}

.nav-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2.84091em;
    display: inline-block;
    width: 1.42045em;
    height: 100%;
    background: url(../static/img/menu-slide.png) center center no-repeat;
    background-position: -1.42046em 0;
}

.nav-toggle-swith {
    background-position: 0 0;
}

.nav ul li a {
    color: rgb(47,118,239);
    padding: 0.22727em 0.45454em;
}

.nav ul li a:hover {
    color: rgb(15,79,189);
    background-color: #ddd;
    border-radius: 0.3409em;
}

/****  Float clear  ****/
.no-float {
    clear: both;
}

/**** Content  ****/
.content {
    float: right;
    position: relative;
    display: inline-block;
    width: 51.70455em; /* ~910px */
    perspective: 56.81818em; /* ~1000px */
    text-align: center;
}
.content-wide {
    width: 59.0909em; /* ~1040px */
}

/**** Footer  ****/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.82955em;
    background-color: rgba(15,79,189,0.9);
    text-align: center;
}

footer a:hover,
#footer-nav li a:hover {
    color: #eee;
    text-decoration: underline;
}

footer,
footer p a,
#footer-nav a{
    color: #ddd;
    padding: 0.11364em;
}

#footer-nav li{
    display: inline-block;
}

/**** About page  ****/
.left-col,
.right-col {
    vertical-align: top;
    width: 46.5%;
    text-align: justify;
    line-height: 1.5em;
    margin: 0.28409em 0 0.85227em 0.28409em;
}
.left-col {
    margin-right: 1.13636em;
}
.foto {
    width: 99%;
    height: auto;
    margin-bottom: 0.28409em;
    border-radius: 10%;
}
/**** Skillz page  ****/

.card {
    position: relative;
    display: inline-block;
    width: 15.3409em; /* 270px */
    height: 19.88636em; /* 350px */
    margin: 1.42045em 0.56818em;
    overflow: hidden;
    border-radius: 0.28409em;
    box-shadow: 0 0.11364em 1.70454em 0.45454em #aaa;
    text-align: center;
    transform: rotateY(-10deg);
    -webkit-transform: rotateY(-10deg);
    -moz-transform: rotateY(-10deg);
    -o-transform: rotateY(-10deg);
}
.even {
    transform: rotateY(10deg);
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
}
.card:hover {
    box-shadow: 0 0 0.3409em 0.22727em #aaa inset;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
}

.card img {
    display: block;
    width: auto;
    height: 11.36363em;
    margin: 0.17045em auto 0.56818em auto;
}

/**** Contact page  ****/
.contact li,
.contact a,
.contact strong,
.social li,
.social a,
.social strong {
    display: block;
}
.contact i,
.social i {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    margin-right: 0.2em;
    text-align: center;
}

.contact li,
.social li {
    padding: 0 0 0.56818em 0.85227em;
    height: 4.0909em;
}

/**** <1110px ****/
@media screen and (max-width: 69.375em) {
    #top-bar,
    #content {
        width: 53.125em;
    }
    .content {
        width: 42.89772em;
        perspective: none;
    }
    .content-wide {
        width: 50.99431em;
    }
}

/**** <955px ****/
@media screen and (max-width: 59.6875em) {
    #top-bar,
    #content {
        width: 48em;
    }
    .content {
        width: 37.77272em;
    }
    .content-wide {
        width: 45.65625em;
    }
    .fa-4x {
        font-size: 3em;
    }
}
/**** <865px ****/
@media screen and (max-width: 54.0625em) {
    #top-bar,
    #content {
        width: 40em;
    }
    .left-col,
    .right-col {
        width: 29em;
    }
    .content {
        width: 29.77272em;
    }
    .content-wide {
        width: 37.77272em;
    }
    .fa-4x {
        font-size: 2em;
    }
    .card {
        width: 13em;
    }
    q {
        width: 10em;
        height: 6.4em;
    }
}
/**** <740px ****/
@media screen and (max-width: 46.25em) {
    #top-bar,
    #content {
        width: 31.25em;
    }
    .left-col,
    .right-col {
        width: 19.8em
    }
    .content {
        width: 21.02272em;
    }
    .content-wide {
        width: 28.90625em;
    }
    q {
        display: none;
    }
    
}
/**** <570px ****/
@media screen and (max-width: 35.625em) {
    #top-bar,
    #content {
        width: 25em;
    }
    .left-col,
    .right-col {
        width: 14em;
    }
    .content {
        width: 14.77272em;
    }
    .content-wide {
        width: 22.65625em;
    }
    .fa-4x {
        font-size: 1.3em;
    }
}
